// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto', sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}

html,
body{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}

.main{
    padding-top: 40px;
    padding-bottom: 30px;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

.tooltip{
    position: relative;
    &:hover{
        .tooltip__content{
            opacity: 1;
            visibility: visible;
        }
    }
    &__btn{
        height: 24px;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        color: #88919D;
        padding: 4px 10px;
        background: #F5F8FA;
        border-radius: 12px;
        &:hover{
            background: #E6EAED;
        }
    }
    &__content{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 34px;
        max-width: 270px;
        width: max-content;
        background: #FFFFFF; 
        border: 1px solid #E6EAED;
        box-sizing: border-box;
        box-shadow: 0px 10px 20px rgba(136, 145, 157, 0.3);
        border-radius: 4px;
        padding: 15px;
        font-size: 13px;
        line-height: 140%;
        color: #444444;
        transition: 200ms ease;
        &::after{
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 10px;
        }
        a{
            color: #528CAA;
            text-decoration: none;
        }
    }
}

.info{
    margin-bottom: 20px;
    &.expanded{
        .info__p{
            overflow: visible;
            width: 100%;
            display: block;
        }
        .info__expand{
            svg{
                transform: rotate(-180deg);
            }
        }
    }
    &__p{
        margin-bottom: 10px;
        overflow: hidden;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 17px;
        line-height: 160%;
        color: #444444; 
        @include media(576){
            font-size: 15px;
            line-height: 160%;
        }       
    }
    &__expand{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 13px;
        line-height: 15px;
        color: #88919D;
        &:hover{
            color: #444444;
            svg path{
                fill: #444444;
            }
        }
        *{
            pointer-events: none;
        }
        svg{
            margin-left: 5px;
            transition: 200ms ease;
            path{
                fill: #88919D;
            }
        }
    }
}

.categories{
    width: 100%;
    overflow: visible;
    margin-bottom: 20px;
    &__item{
        padding: 11px 15px;
        width: max-content;
        border-radius: 20px;
        background: #F5F8FA;
        font-size: 15px;
        line-height: 18px;
        color: #444444;
        cursor: pointer;
        transition: 200ms ease;
        &:hover{
            background: #E6EAED;
        }
        @include media(576){
            padding: 8px 10px;
            font-size: 13px;
            line-height: 15px;
        }
        *{
            pointer-events: none;
        }
        &_active{
            color: #176EAE;
            font-weight: bold;
            background: rgba(23, 110, 174, 0.1);
        }
    } 
}

.filter{
    &__buttons{
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        column-gap: 20px;
        @include media(576){
            column-gap: 10px;
        }
    }
    &__show{
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #E6EAED;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 11px 11px;
        transition: 200ms ease;
        &:hover{
          background: #F5F8FA;
        }
        &.active{
            background: #E8F1F7;
            .filter__show-text{
                color: #176EAE;
                font-weight: bold;
            }
        }
        @include media(470){
            width: 50%;
        }
        &-img{
            margin-right: 10px;
        }
        &-text{
            font-size: 15px;
            line-height: 18px;
            color: #444444;
        }
        &-badge{
            margin-left: 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FEDD2E;
            font-weight: bold;
            font-size: 11px;
            line-height: 13px;
            color: #000000;
            @include media(359){
                display: none;
            }
        }
        *{
            pointer-events: none;
        }
    }
    &__dropdown{
        @include media(470){
            width: 50%;
        }
    }
    &__content{
        background: #FFFFFF;
        border: 1px solid #E6EAED;
        box-sizing: border-box;
        box-shadow: 0px 5px 5px rgba(136, 145, 157, 0.1);
        border-radius: 8px;
        padding: 30px 40px;
        display: none;
        margin-bottom: 30px;
        &.active{
            display: block;
        }
        @include media(576){
            padding: 20px;
        }
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        @include media(390){
            margin-bottom: 15px;
        } 
    }
    &__title{
        font-weight: bold;
        font-size: 23px;
        line-height: 140%;
        color: #444444;
        @include media(576){
            font-size: 17px;
            line-height: 20px;
        }
    }
    &__reset{
        font-size: 15px;
        line-height: 18px;
        color: #88919D;
        transition: 200ms ease;
        &:hover{
            color: #444444;
        }
        @include media(576){
            font-size: 13px;
            line-height: 15px;
        }   
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 20px;
        @include media(576){
            column-gap: 15px;
            row-gap: 20px;        
        }   
        @include media(390){
            row-gap: 10px;
            margin-bottom: 15px;
        } 
    }
    &__item{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: calc(33.333% - 20px);
        @include media($lg){
            width: calc(50% - 15px);
        }
        @include media($sm){
            width: calc(50% - 8px);
        }
        @include media(390){
            width: 100%;
            row-gap: 5px;
        }
        &-label{
            font-size: 15px;
            line-height: 21px;
            color: #88919D;
            @include media(576){
                font-size: 13px;
                line-height: 15px;
            }  
        }
    }
    &__btn{
        padding: 16px 32px;
        background: #FEDD2E;
        border-radius: 4px;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #000000;
        transition: 200ms ease;
        &:hover{
            background: #FDCE1B;
        }
        @include media(576){
            padding: 16px 20px;
            font-size: 15px;
            line-height: 18px;
            width: 100%;
        }
    }
}

.products{
    &__item{
        background: #FFFFFF;
        border: 1px solid #E6EAED;
        box-sizing: border-box;
        box-shadow: 0px 5px 5px rgba(136, 145, 157, 0.1);
        border-radius: 8px;
        padding: 30px 40px;
        @include media(576){
            padding: 20px;
        }
        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
        }
        &-title{
            font-weight: bold;
            font-size: 23px;
            line-height: 140%;
            color: #176EAE;
            transition: 200ms ease;
            a{
                font-weight: bold;
                font-size: 23px;
                line-height: 140%;
                color: #176EAE;
                transition: 200ms ease; 
                text-decoration: none;
                &:hover{
                    color: #0E4268;
                }
            }
            &:hover{
                color: #0E4268;
            }
        }
        &-category{
        }
    }
}